<div id="container">
    <h1>Regulamin strzelnicy</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque turpis quis tempor vulputate. 
            Donec sed tincidunt quam. Fusce ante nulla, tristique vitae turpis mattis, ultrices auctor arcu. Vivamus ut 
            luctus ante. Sed sed mauris mauris. Duis placerat ornare cursus. Sed a efficitur turpis. Phasellus sed 
            semper mi. Curabitur a risus est. Morbi semper magna non condimentum iaculis.</p>
        <p>In hac habitasse platea dictumst. Maecenas et mattis sem. Praesent euismod convallis lacus vitae finibus. 
            Phasellus odio nisi, dictum et suscipit vel, pretium vitae eros. Interdum et malesuada fames ac ante 
            ipsum primis in faucibus. Integer tempus varius neque quis luctus. Vivamus vitae lacus nec nibh pellentesque 
            molestie.</p>
        <p>In id risus diam. Nam id gravida urna, vel vestibulum est. Morbi pharetra ultricies maximus. Duis ac lectus 
            elit. Donec justo enim, posuere sed nulla ut, pretium euismod elit. Aliquam venenatis leo id consectetur 
            condimentum. Phasellus congue at lectus id placerat.</p>
        <p>Nam id interdum velit. Suspendisse at scelerisque justo. Etiam volutpat, nulla quis consectetur ultrices, 
            elit leo dignissim sem, a tristique libero risus id nunc. Morbi nulla nisl, pulvinar eget malesuada in, 
            euismod eget augue. Phasellus malesuada nibh mollis, dictum metus ac, lobortis sapien. Nam eleifend 
            libero a velit molestie, id iaculis risus facilisis. Integer sagittis congue tortor, sed tincidunt dui 
            aliquam in.</p>
        <p>Nam in ullamcorper mi. Aliquam orci turpis, sollicitudin et lacus eget, vulputate lacinia dui. Vestibulum 
            malesuada tellus metus, sed posuere nunc rhoncus quis. Proin metus quam, sodales et felis in, facilisis 
            fringilla sapien. Proin eget molestie dui. Praesent eget nulla vel arcu pharetra luctus auctor vel sem. 
            Donec pharetra venenatis ligula non pulvinar. Aliquam aliquam neque vel nisi condimentum, vitae tincidunt 
            erat ultrices. Curabitur sagittis vehicula mi, a tempor purus feugiat ut. Aliquam nec molestie nisi.</p>
    </article>
</div>