<div>
  <h2>Edit shooter {{ shooter.id }}</h2>
  <form (ngSubmit)="save()">
    <div>
      <label for="firstName">First name:</label>
      <input type="text" id="firstName" [(ngModel)]="shooter.firstName" name="firstName">
    </div>
    <div>
      <label for="lastName">Last name:</label>
      <input type="text" id="lastName" [(ngModel)]="shooter.lastName" name="lastName">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" [(ngModel)]="shooter.email" name="email">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>