<div class="w-4/4 shadow-md p-10 bg-white shadow-blue-200/20 mx-36 my-10">

  <table class="w-full border-4 rounded-md" *ngFor="let news of news_list; let i=index">
    <thead>
        <h2 class="p-3 text-left bg-gray-200; justify-center; text-center">{{news.title}}</h2>
      <tr>
        <th class="p-3 text-left bg-gray-200 flex justify-between items-center">
          <span>
          {{news.content}}
        </span>

        </th>
      </tr>
    </thead>
    <tbody>
      </tbody>
  </table>

  <div class="mt-4 flex items-center justify-center">
    <button class="text-cyan-500 border-4 py-2 px-4 rounded-l-lg cursor-pointer mr-5">Previous</button>
    <button class="py-2 px-4 cursor-pointer bg-cyan-500 text-white">1</button>
    <button class="text-cyan-500 border-4 py-2 px-4 cursor-pointer rounder-r-lg ml-5">Next</button>
    <button class="py-2 px-4 cursor-pointer bg-cyan-500 text-white" (click)="logHello()">Usun</button> <!-- New Button Here -->
  </div>

</div>
