<header class="header">
  <div class="container">
    <h1 class="logo">Klub strzelecki</h1>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/" routerLinkActive="active">Strona główna</a></li>
        <li class="nav-item"><a routerLink="/users" routerLinkActive="active">Lista użytkowników</a></li>
        <li class="nav-item"><a routerLink="/shooters" routerLinkActive="active">Lista zawodników</a></li>
        <li class="nav-item"><a routerLink="/competitions" routerLinkActive="active">Lista zawodów</a></li>
        <li class="nav-item"><a routerLink="/about" routerLinkActive="active">O nas</a></li>
        <li class="nav-item"><a routerLink="/login" routerLinkActive="active">Zaloguj</a></li>
      </ul>
    </nav>
  </div>
</header>


<main>
  <!-- News component content goes here -->
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <!-- Footer content goes here -->
  <p>&copy; 2024 Klub strzelecki</p>
</footer>
