<!DOCTYPE html>
<html lang="pl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sticky Footer</title>
<link rel="stylesheet" href="app.component.css">
<header>
  <h1 class="logo" >Klub strzelecki</h1>
  <nav class="navbar">
    <div class="nav-list">
      <div class="nav-item"><a routerLink="/" routerLinkActive="active">Strona główna</a></div>
      <div *ngIf="isAdmin" class="nav-item"><a routerLink="/users" routerLinkActive="active">Lista użytkowników</a></div>
      <div *ngIf="isAdmin" class="nav-item"><a routerLink="/shooters" routerLinkActive="active">Lista zawodników</a></div>
      <div *ngIf="isAuthenticated" class="nav-item"><a routerLink="/competitions" routerLinkActive="active">Lista zawodów</a></div>
      <div *ngIf="isAuthenticated" class="nav-item"><a routerLink="/gallery" routerLinkActive="active">Galeria</a></div>
      <div class="nav-item"><a routerLink="/about" routerLinkActive="active">O nas</a></div>
      <div *ngIf="isAuthenticated" class="nav-item"><a routerLink="/profile" routerLinkActive="active">Profil</a></div>
      <div *ngIf="!isAuthenticated" class="nav-item"><a routerLink="/login" routerLinkActive="active">Zaloguj</a></div>
      <div *ngIf="isAuthenticated" class="nav-item"><a routerLink="" (click)="logout()" routerLinkActive="active">Wyloguj</a></div>
    </div>
  </nav>
</header>


<main>
  <!-- News component content goes here -->
  <router-outlet></router-outlet>
</main>

<body>
<div class="content">

</div>
<footer class="footer">
  <div id="container">
  </div>
</footer>
</body>
</html>

<div class="footer">
  <div id="footerLinks"><a routerLink="/statute" routerLinkActive="active">Regulamin</a></div>
  <p>&copy; 2024 Klub strzelecki</p>
</div>




