@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  background-color: #34495e;
  color: #f5f5f5;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-width: 11000px;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
}

.navbar {
  display: flex;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #d2c7c7;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #4949b2;
}

.active {
  font-weight: bold;
}

.content {
  padding-top: 70px;
}

.header h1 {
  margin: 10px;
}

.footer {
  background-color: #34495e;
  color: #f5f5f5;
  padding: 10px 650px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}



