@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-color: #010038;
  color: #f5f5f5;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  min-width: 100%;
  margin-right: 15px;
  user-select: none;
}

@media screen and (min-width: 1115px) {
  header{
    display: flex;
  }
  .logo{
    min-width: 300px;
  }

}

.navbar {
  display: flex;
  height: 100%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  transition: 0.1s;
}

@media screen and (min-width: 730px) {
  .nav-list {
    display: flex;
  }
}

.nav-item a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  height: 100%;
}

.nav-item:hover {
  background-color: #ffffff;
  color: #010038;
}

.active {
  font-weight: bold;
}

.content {
  padding-top: 70px;
}

.header h1 {
  margin: 0px;
}

main{
  margin: 20px 0;
}

.footer {
  background-color: #010038;
  color: #ffffff;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#footerLinks{
  text-decoration: underline;
}




