<div class="competition_list">
  <p>Aktualności</p>
  <button type="button" id="news-add-button" class="generic-button" [routerLink]="['/competitions/add']">Dodaj nowe zawody</button>
  <div *ngFor="let competition of competition_list" class="news-item">
    <h2>{{ competition.name }}</h2>
    <h3>{{ competition.start_date }}</h3>
    <h3>{{ competition.end_date }}</h3>
    <h3>{{ competition.shooters_limit }}</h3>
    <div id="button-container">
      <button [routerLink]="['/competitions/edit', competition.id]" type="button" id="news-edit-button" class="generic-button">Edytuj</button>
      <button (click) = "deleteCompetition(competition.id)" type="button" id="news-delete-button" class="generic-button">Usuń</button>
    </div>
  </div>
</div>


