<div class="competition_list">
  <h1>Lista zawodów</h1>
  <button *ngIf="isAdmin" type="button" id="news-add-button" class="generic-button" [routerLink]="['/competitions/add']">Dodaj nowe zawody</button>
  <div class="container">
    <!-- Zmieniono na: wyświetlanie określonej liczby zawodów -->
    <div *ngFor="let competition of competitions.slice(0, displayedCompetitionsCount)" class="news-item" (click)="openDetails(competition, $event)">
      <div class="attributes">
        <h2>{{ competition.name }}</h2>
        <h3>Czas rozpoczęcia: {{ competition.start_date | removeT }}</h3>
        <h3>Czas zakończenia: {{ competition.end_date | removeT }}</h3>
        <h4>Limit zawodników: {{ competition.shooters_limit }}</h4>
      </div>
      <div class="button-container">
        <button *ngIf="isAdmin" [routerLink]="['/competitions/edit', competition.id]" type="button" id="news-edit-button" class="generic-button">Edytuj</button>
        <button *ngIf="isAdmin" (click)="deleteCompetition(competition.id)" type="button" id="news-delete-button" class="generic-button">Usuń</button>
        <button *ngIf="isAdmin && !competition.emails.includes(userEmail)" [routerLink]="['/competitions/assign', competition.id]" type="button" id="assign-shooter-button" class="generic-button">Zapisz zawodnika</button>
        <button *ngIf="!isAdmin && competition.emails.includes(userEmail)" (click)="signOffFromCompetition(competition.id)" type="button" id="sign-off-button" class="generic-button">Wypisz się</button>
        <button *ngIf="!isAdmin && !competition.emails.includes(userEmail)" (click)="signUpForCompetition(competition.id)" type="button" id="sign-up-button" class="generic-button">Zapisz się</button>
      </div>
    </div>
  </div>

  <!-- Zmieniono na: przycisk "Pokaż więcej", który ładuje więcej zawodów -->
  <div *ngIf="displayedCompetitionsCount < competitions.length" class="text-center mt-4">
    <button (click)="loadMoreCompetitions()" class="generic-button">Pokaż więcej</button>
  </div>
</div>
