<div class="competition-list">
  <button type="button" id="competition-add-button" class="generic-button" [routerLink]="['/competition/add']">Dodaj nowe Zawody</button>

  <table>
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Data startu</th>
        <th>Data końca</th>
        <th>Limit uczestników</th>
        <th>akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competition of competition_list" class="competition-item">
        <td>{{ competition.name }}</td>
        <td>{{ competition.start_date }}</td>
        <td>{{ competition.end_date }}</td>
        <td>{{ competition.shooters_limit }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="news-list">
  <p>Aktualności</p>
  <button type="button" id="news-add-button" class="generic-button" [routerLink]="['/competition/add']">Dodaj nowe zawody</button>
  <div *ngFor="let competition of competition_list" class="news-item">
    <h2>{{ competition.name }}</h2>
    <h3>{{ competition.start_date }}</h3>
    <h3>{{ competition.end_date }}</h3>
    <h3>{{ competition.shooters_limit }}</h3>
    <div id="button-container">
      <button [routerLink]="['/news/edit', competition.id]" type="button" id="news-edit-button" class="generic-button">Edytuj</button>
      <button (click) = "deleteCompetition(competition.id)" type="button" id="news-delete-button" class="generic-button">Usuń</button>
    </div>
  </div>
</div>


