h2 {
  margin-top: 25px;
  font-size: 35px;
}
 p {
   padding: 3px;
   margin: 15px;
 }

button {
  font-weight: bold;
  font-size: 17px;
  padding: 3px;
  margin: 15px;
}

button {
  width: 40px;
  height: 40px;
  transition: width 0.2s;
}

button:hover {
  width: 250px;
  background-color: #4141ce;
}
